* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
input,
button {
  font: inherit;
}
:focus {
  outline: none;
}
body {
  background: rgb(245, 245, 245);
}
